.box {
    height: 24px;
    display: inline-block;
    width: 24px;
    border: 1px solid black;
    margin: 0px 2px;
}
.moving-piece {
    background-color: red;
}
.border {
    background-color: black;
}
.fixed-piece {
    background-color: blue;
}
#game-board {
    display: inline-block;
}
.score-container {
    display: inline-block;
    position: absolute;
    top: 100px;
}
.gameboard-container {
    position: relative;
    width: 500px;
    margin: 0px auto;
}
.score-title {
    font-size: 20px;
}