.box {
    height: 24px;
    display: inline-block;
    width: 24px;
    border: 1px solid black;
    margin: 0px 2px;
}
.moving-piece {
    background-color: red;
}
.border {
    background-color: black;
}
.fixed-piece {
    background-color: blue;
}
#game-board {
    margin: 0px auto;
}